.button {
    -fx-background-color: #9b34db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.titleClass {
    -fx-font-size: 24px;
    -fx-text-fill: #9b34db;
    -fx-font-weight: bold;
}