@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.root {
    -fx-font-family: 'Nunito', sans-serif;
    -fx-font-smoothing-type: gray;
    background-color: #C0E6DE;
}

.button {
    -fx-background-color: #3450D8;
    -fx-text-fill: #C0E6DE;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.titleClass {
    -fx-font-size: 24px;
    -fx-text-fill: #3450D8;
    -fx-font-weight: bold;
}

VBox {
    -fx-background-color: #C0E6DE;
}